<%- include('../common/head')%>
<body data-bs-theme="dark" style="font-family: 'Poppins', sans-serif;">
    <header>
        <link rel="stylesheet" href="../css/style2.css">
        <link rel="stylesheet" href="../css/style.css">
        <%- include('../common/navbar', {classes: classArray})%>
    </header>
    <main>
        <div class="container">
            <h1 class="text-center py-4"><%=className%> - <%=subjectName%> - <%=date%></h1>
            <div class="row">
                <% assignments.forEach(function(a){ %>
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title"><%=a.heading%></h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><%=a.details%></p>
                            <p class="card-text">Due Date: <code><%=a.dueDate%></code></p>
                        </div>
                        <!-- <div class="card-footer">
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse<%=a.details.slice(0, 2)%>" aria-expanded="false"
                                aria-controls="collapse<%=a.details.slice(0, 2)%>">
                                More Details
                            </button>
                        </div>
                        <div class="collapse" id="collapse<%=a.details.slice(0, 2)%>">
                            <div class="card-body">
                                <%=a.details%>
                            </div>
                        </div> -->
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </main>
    <footer>
        <%- include('../common/footer')%>
    </footer>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>